<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Home - Shopme admin</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
	<script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
</head>

<body class="container-fluid">
	<div>
		<h1>Shopme Control Panel</h1>
	</div>
	<div>
		<p>Shopme Control Panal - Copyright - &copy;</p>
	</div>
</body>

</html>